<div
  [ngClass]="{ 'hidden': !isVisible, 'show': isVisible }" class="chart-header">
  <h2 class="title">{{ FormatKeyToTitle(data.title) }}</h2>
  <app-button (click)="toggleVisibility()" [style]="'text-only'" [size]="'small'" >{{ isVisible ? 'Hide' : 'Show' }}</app-button>
</div>
<tui-axes
  [ngClass]="{ 'hidden': !isVisible }"
  class="axes"
  [axisXLabels]="axisXLabels"
  [axisYLabels]="data.yLabels"
  [horizontalLines]="4"
  [verticalLines]="6">
  <tui-line-chart
    *ngFor="let segment of data.value"
    class="chart"
    [filled]="true"
    [dots]="false"
    [height]="data.height"
    [value]="segment"
    [width]="data.width"
    [x]="data.x"
    [xStringify]="dateStringify"
    [y]="data.y"
    [yStringify]="getUnitStringify(data.unit)"
  />
</tui-axes>
