<div class="dashboard-container">
  <div class="section-title">
    <h2>Live Sensor Data</h2>
    <p class="info">Real-time updates from the selected device</p>
  </div>
  <div class="mb-1">
    <app-sensor-latest-reading [deviceId]="deviceId"></app-sensor-latest-reading>
  </div>

  <div class="section-title">
    <h2>Sensor Data Overview</h2>
    <p class="info">Insights from the selected time range</p>
  </div>
  <div class="box-graph">
    <app-sensor-chart [deviceId]="deviceId"></app-sensor-chart>
  </div>
</div>
