<h1>Change Thresholds for {{ selectedDevice.deviceName }}</h1>

<div class="device-list">
  <ng-container *ngFor="let device of devices">
    <app-button
      (click)="selectDevice(device)"
      [style]="device.deviceId === selectedDevice.deviceId
      ? 'accent' : 'outline-accent'">
      {{ device.deviceName }}
    </app-button>
  </ng-container>
</div>

<div class="create-table" *ngIf="!hasThresholds()">
  <app-button [style]="'filled'" (click)="createThresholdsFromLatestSensorData()">
    Create Thresholds Table
  </app-button>
  <div class="error">
    {{ message }}
  </div>
</div>

<form [formGroup]="thresholdForm" (ngSubmit)="onSubmit()" *ngIf="hasThresholds()">
  <div class="custom-table">
    <table>
      <thead>
      <tr>
        <th rowspan="2" class="w-30">Name</th>
        <th colspan="2" class="custom-padd">
          <div class="color-example">
            <p>Warning</p>
            <div class="warn"></div>
          </div>
        </th>
        <th colspan="2" class="custom-padd">
          <div class="color-example">
            <p>Critical</p>
            <div class="crit"></div>
          </div>
        </th>
      </tr>
      <tr>
        <th>Min</th>
        <th>Max</th>
        <th>Min</th>
        <th>Max</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sensor of getSensorKeys()">
        <td>{{ FormatKeyToTitle(sensor) }}</td>
        <td class="cell-padd">
          <input type="number" [formControlName]="sensor + '_min'">
        </td>
        <td class="cell-padd">
          <input type="number" [formControlName]="sensor + '_max'">
        </td>
        <td class="cell-padd">
          <input type="number" [formControlName]="sensor + '_minCritical'">
        </td>
        <td class="cell-padd">
          <input type="number" [formControlName]="sensor + '_maxCritical'">
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="btn">
    <div class="error">
      {{ message }}
    </div>
    <div class="d-flex">
      <app-button
        (click)="onReset()"
        [style]="'outline-accent'"
        [disabled]="thresholdForm.invalid">
        Reset
      </app-button>
      <app-button
        type="submit"
        [style]="'accent'"
        [disabled]="thresholdForm.invalid">
        Save
      </app-button>
    </div>
  </div>
</form>
