<div class="sensor-chart">
  <div class="time-range">
    <input type="datetime-local" [(ngModel)]="fromDate"/>
    <input type="datetime-local" [(ngModel)]="toDate"/>
    <app-button [style]="'filled'" (click)="fetchSensorData()">Fetch</app-button>
    <app-button [style]="'filled'" (click)="tableGraphToggle()">{{ isTableView ? 'Graph' : 'Table' }}</app-button>
  </div>
  <div *ngIf="temperatureReadings.length > 0 || sensorReadings.length > 0">
    <div *ngIf="!isTableView">
      <h2 class="title">{{ 'Temperature' }}</h2>
      <tui-axes
        class="axes"
        [axisXLabels]="axisYLabels"
        [horizontalLines]="4"
        [verticalLines]="6">
        <tui-line-chart
          class="chart"
          [dots]="false"
          [height]="30"
          [value]="temperatureReadings"
          [width]="width"
          [x]="0"
          [xStringify]="stringify"
          [y]="10"
          [yStringify]="stringify"
        />
      </tui-axes>

      <h2 class="title">{{ 'Humidity' }}</h2>
      <tui-axes
        class="axes"
        [axisXLabels]="axisYLabels"
        [horizontalLines]="4"
        [verticalLines]="6">
        <tui-line-chart
          class="chart"
          [dots]="false"
          [height]="100"
          [value]="humidityReadings"
          [width]="width"
          [x]="0"
          [xStringify]="stringify"
          [y]="0"
          [yStringify]="stringify"
        />
      </tui-axes>
    </div>

    <!--TABLE-->
    <div *ngIf="isTableView" class="sensor-table">
      <table>
        <thead>
        <tr>
          <th class="w-10">Nr</th>
          <ng-container *ngFor="let column of displayedColumns">
            <th>{{ column.label }}</th>
          </ng-container>
          <th class="w-10 ws-nowrap">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of sensorReadings; let i = index">
          <td>{{ i + 1 }}</td>
          <ng-container *ngFor="let column of displayedColumns">
            <td>{{ data[column.key] }}</td>
          </ng-container>
          <td class="ws-nowrap">{{ data.timestamp | date: 'dd.MM.yyyy HH:mm' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="sensorReadings.length == 0" class="no-data">
    <h1>{{ 'noDataFound' }}</h1>
  </div>
</div>
