<div class="sensor-chart">
  <div class="time-range">
    <input type="datetime-local" [(ngModel)]="fromDateInput"/>
    <input type="datetime-local" [(ngModel)]="toDateInput"/>
    <div class="btns">
      <app-button [style]="'filled'" (click)="loadDataForDevice()">
        Fetch
      </app-button>
      <app-button [style]="'filled'" (click)="tableGraphToggle()">
        {{ isTableView ? 'Graph' : 'Table' }}
      </app-button>
    </div>
  </div>
  <div>
    <!--CHART-->
    <div *ngIf="!isTableView">
      <div *ngFor="let data of sensorsChartData; trackBy: trackById">
        <app-chart
          [data]="data"
          [axisXLabels]="data.xLabels"
          [fromDateNum]="fromDateNum">
        </app-chart>
      </div>
    </div>

    <!--TABLE-->
    <ng-container
      *ngIf="isTableView">
      <app-table
        [deviceId]="deviceId"
        [timeRange]="timeRange">
      </app-table>
    </ng-container>
  </div>
</div>
